* {
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
}

.main_box  {
    background: url(photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.btn_one i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 50px;
    left: 25px;
    line-height: 80px;
    z-index: 5;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.sidebar_menu {
    position: fixed;
    top: 5%;
    transform: translateX(-120%);
    height: 90vh;
    width: 25% ;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    left: 18%;
    padding-top: 10px;
}

.sidebar_menu .menu {
    position: absolute;
    left: 2%;
    width: 95%;
    top: 10%;
}

.sidebar_menu .btn_two i {
    color: gray;
    font-size: 30px;
    line-height: 80px;
    position: absolute;
    cursor: pointer;
    left: 25px;
    opacity: 0;
    opacity: 0;
}

.sidebar_menu .menu li {
    cursor: pointer;
    margin-top: 1em;
    padding: 15px 20px;
    border-radius: 25px;
}

.sidebar_menu .menu i, a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.sidebar_menu .menu i {
    padding: 0.5rem;
}

.sidebar_menu .social_media {
    position: absolute;
    left: 30%;
    bottom: 5%;
}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 0.3em;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu{
    transform: translateX(0);
}

#check:checked ~ .btn_one i {
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
}